html {
    background: #aaf;
    font-size: 16px;
}


body { padding: 3em; }

h1 { text-align: center; }

form { display: inline; }
#non-canvas {
    font-family: monospace;
    margin-bottom: 2em;
    max-width: 608px;
    padding: 1em;
}

#non-canvas label {
    font-size: 1.2em;
    margin-right: 1em;
}

#non-canvas input { font-size: 1em; }
