body{

  margin: 0px;

  padding: 0px;

  font-family: 'Roboto', sans-serif;

  letter-spacing: 0.5px;

}

a{

  -webkit-transition: width 0.4s all !important;

    transition: width 0.4s all !important;

}

a:hover {

  -webkit-transition: width 0.4s all !important;

    transition: width 0.4s all !important;

}

a {

    text-decoration: none !important;

}
option {  
  -moz-white-space:pre-wrap; 
  -o-white-space:pre-wrap; 
  white-space:pre-wrap; 
  overflow: hidden;
  text-overflow:ellipsis;
}

h2{

  font-size: 25px;

}
h2.aqa-main-title {

    position: relative;

    padding-bottom: 7px;

    text-transform: uppercase;

    text-align: center;

}

h2.aqa-main-title:before { 

    content: "";

    border-bottom: 1px solid #3b5998;

    position: absolute;

    width: 150px;

    bottom: 1px;

    left: 0;

    right: 0;

    margin: 0 auto;

}

h2.aqa-main-title:after {

    content: "";

    position: absolute;

    width: 5%;

    bottom: 0;

    height: 3px;

    background: #1e56d0;

    left: 0;

    right: 0;

    margin: 0 auto;

}

.alignleft {

	display: inline;

	float: left;

	margin-right: 1.5em;

}



.alignright {

	display: inline;

	float: right;

	margin-left: 1.5em;

}



.aligncenter {

	clear: both;

	display: block;

	margin-left: auto;

	margin-right: auto;

}

.wp-caption {

    background: #fff;

    border: 1px solid #f0f0f0;

    max-width: 96%; 

    padding: 5px 3px 10px;

    text-align: center;

}

.wp-caption-text {

    font-size: 11px;

    line-height: 17px;

    margin: 0;

    padding: 0 4px 5px;

}

.bypostauthor{

	background-color: #f1f1f1;

	color: #000;

}

.sticky {

    background: #ffffff;

    border: 4px solid #1e56d0;

    padding: 10px 0 40px;

    box-shadow: inset 0px 0px 30px #1e56d0;

}

.gallery-caption {

	background: #fff;

}

/* Logo */

.bls-logo h1.site-title a {color: #fff;}

.bls-logo h1.site-title a:hover {opacity: .80;}

/*Logo Menu*/

.bls-logo-menu-bar {

  background-color: #26629e;

	background: -moz-linear-gradient(left,#26629e0%, #19a268 100%);

	background: -webkit-linear-gradient(left, #26629e0%, #19a268 100%);

	background: linear-gradient(to left, #26629e 0%, #19a268 100%);

}

p.aqa-logo-txt {

    font-size: 50px;

    font-family: 'Pacifico', cursive;

    margin: 0px;

    color: #fff;

}

.bls-menu-wrap {border-bottom: solid 1px #26629e;}

.bls-menu {

    display: inline-block;

    margin: 12px 0px 7px 0px;

}

ul.main-menu {

  margin: 0px;

  padding: 0px;

  background: transparent;

}

.navbar-default {

  background-color: transparent;

  border: none;

}



/*Home Banner*/

.bls-top-banner {

    background: url(../images/banner.jpg);

    padding: 70px 0px;

}

.bls-top-banner p {

    text-align: center;

    color: #fff;

    font-size: 16px;

    margin: 0 0 40px;

}

.bls-top-banner a {

  background: #3b5998;

  padding: 15px 30px;

  margin: 0 10px;

  color: #fff;

  display: inline-block;

  border: 1px solid #3b5998;

  text-decoration: none;

  text-transform: uppercase;

}

.bls-top-banner a:hover{

  background: #1e56d0;

}

a.banner-btn {

  background: transparent;

  border: 1px solid #fff;

}

a.banner-btn:hover {

    background: #fff;

    border-color: #fff;

    color: #222;

}

/*.aqa-top-banner a:hover{  

  background: transparent;

  border: 1px solid #fff;

}

a.banner-btn:hover {

    background: #3b5998;

    border: 1px solid #3b5998;

}*/

.bls-top-banner h2 {

  color: #fff;

  text-align: center;

  margin: 0px 0 20px;

}



/*Footer*/

ul.footer-social-icons {

  margin-bottom: 0;

}

ul.footer-social-icons {

  display: inline-block;

  width: 100%;

  text-align: center;

}

ul.footer-social-icons li {

  list-style: none;

  float: none;

  display: inline-block;

  text-align: center;

  padding: 3px;

  border-radius: 108px;

}

ul.footer-social-icons a {

  font-size: 20px;

  color: #fff;

}

i.fa.fa-facebook {

    background-color: #3b5998;

    padding: 8px 12px;

    border-radius: 108px;

    opacity: 0.8;

    border: 2px solid rgba(255, 255, 255, 0.32);

}

i.fa.fa-facebook:hover {

    opacity: 1;

    border: 2px solid rgba(255, 255, 255, 0.90);

}

i.fa.fa-twitter {

    background-color: #55acee;

    padding: 7px;

    border-radius: 108px;

    opacity: 0.8;

    border: 2px solid rgba(255, 255, 255, 0.32);

}

i.fa.fa-twitter:hover {

    opacity: 1;

    border: 2px solid rgba(255, 255, 255, 0.90);

}

i.fa.fa-google-plus { 

    background-color: #dd4b39;

    padding: 7px 4px;

    border-radius: 108px;

    opacity: 0.8;

    border: 2px solid rgba(255, 255, 255, 0.32);

}

i.fa.fa-google-plus:hover {

    opacity: 1;

    border: 2px solid rgba(255, 255, 255, 0.90);

}

i.fa.fa-instagram {

    background: linear-gradient(60deg, #ffd521, #f50000 50%, #b900b4);

    padding: 7px 8px;

    border-radius: 108px;

    opacity: 0.8;

    border: 2px solid rgba(255, 255, 255, 0.32);

}

i.fa.fa-instagram:hover {

    opacity: 1;

    border: 2px solid rgba(255, 255, 255, 0.90);

}

i.fa.fa-linkedin-square {

    background-color: #269cd4;

    padding: 7px;

    border-radius: 108px;

    opacity: 0.8;

    border: 2px solid rgba(255, 255, 255, 0.32);

}

i.fa.fa-linkedin-square:hover {

    opacity: 1;

    border: 2px solid rgba(255, 255, 255, 0.90);

}

i.fa.fa-youtube {

    background-color: #ce1312;

    padding: 8px;

    border-radius: 108px;

    opacity: 0.8;

    border: 2px solid rgba(255, 255, 255, 0.32);

}

i.fa.fa-youtube:hover {

    opacity: 1;

    border: 2px solid rgba(255, 255, 255, 0.90);

}

.bls-footer-section {

  padding: 30px 0 0 0;

  color: #fff;

  background-color: #26629e;

  background: -moz-linear-gradient(left,#26629e0%, #19a268 100%);

  background: -webkit-linear-gradient(left, #26629e0%, #19a268 100%);

  background: linear-gradient(to left, #26629e 0%, #19a268 100%);

}

.bls-footer-section table#wp-calendar caption {

   color: #fff;

}

.bls-footer-section table#wp-calendar {

   color: #fff;

}



.bls-footer-bottom {

  padding: 10px 0;

  border-top: 1px solid #fff;

  background-color: #26629e;

  background: -moz-linear-gradient(left,#26629e0%, #19a268 100%);

  background: -webkit-linear-gradient(left, #26629e0%, #19a268 100%);

  background: linear-gradient(to left, #26629e 0%, #19a268 100%);

}

.bls-footer-bottom p {

    margin: 15px 0px 15px 0px;

    color: #ffffff;

}

ul.footer-tags {

    padding: 0px;

    margin: 0px;

    display: inline-block;

}

ul.footer-tags li {

    list-style: none;

    float: none;

    padding: 5px 15px;

    border: 1px solid #ccc;

    margin: 5px 5px;

    border-radius: 50px;

    display: inline-block;

    text-align: center;

}

.bls-footer-section .widget_categories ul {

    padding: 0px;

    margin: 0px;

    display: inline-block;

}

.bls-footer-section .widget_categories ul li {

    list-style: none;

    float: none;

    padding: 5px 15px;

    border: 1px solid #dadada;

    margin: 5px 5px;

    border-radius: 4px;

    display: inline-block;

    text-align: center;

}

.bls-footer-section .widget_categories ul li:hover {

    opacity: 0.75;

}

.bls-footer-section .widget_categories ul li a {

    color: #fff;

    text-decoration: none;

}

ul.footer-post {

    margin: 0px;

    padding: 0px;    

}

ul.footer-post li {

    margin: 0px 0 0 15px;

    color: #fff;

}

ul.footer-post li a {

    color: #fff;

    text-decoration: none;

}

ul.footer-post li {

    list-style: none;

    padding: 5px 0;

    padding-left: 5px;

}

ul.footer-post li:before {

  content: "\f105"; /* FontAwesome Unicode */

  font-family: FontAwesome;

  display: inline-block;

  margin-left: -1.3em; /* same as padding-left set on li */

  width: 1.3em; /* same as padding-left set on li */

}

.bls-footer-section .widget_recent_entries ul {

    margin: 0px;

    padding: 0px;    

}

.bls-footer-section .widget_recent_entries ul li {

    margin: 0px 0 0 15px;

    color: #fff;

}

.bls-footer-section .widget_recent_entries ul li a {

    color: #fff;

    text-decoration: none;

}

.bls-footer-section .widget_recent_entries ul li {

    list-style: none;

    padding: 5px 0;

    padding-left: 5px;

}

.bls-footer-section .widget_recent_entries ul li:hover {

    opacity: 0.75;

}

.bls-footer-section .widget_recent_entries ul li:before {

  content: "\f105"; /* FontAwesome Unicode */

  font-family: FontAwesome;

  display: inline-block;

  margin-left: -1.3em; /* same as padding-left set on li */

  width: 1.3em; /* same as padding-left set on li */

}

.bls-footer-section .widget_recent_comments ul {

    margin: 0px;

    padding: 0px;    

}

.bls-footer-section .widget_recent_comments ul li {

    list-style: none;  

}

.bls-footer-section .widget_recent_comments ul li:hover {

    opacity: 0.75;

}

.bls-footer-section .widget_recent_comments ul li:before {

  content: "\f105"; /* FontAwesome Unicode */

  font-family: FontAwesome;

  display: inline-block;

  width: 1.3em; /* same as padding-left set on li */

}

.bls-footer-section .widget_archive ul {

    margin: 0px;

    padding: 0px;    

}

.bls-footer-section .widget_archive ul li {

    list-style: none;   

}

.bls-footer-section .widget_archive ul li:hover {

    opacity: 0.75;

}

.bls-footer-section .widget_archive ul li:before {

  content: "\f105"; /* FontAwesome Unicode */

  font-family: FontAwesome;

  display: inline-block;

  width: 1.3em; /* same as padding-left set on li */

}

.bls-footer-section .widget_pages ul {

    margin: 0px;

    padding: 0px;    

}

.bls-footer-section .widget_pages ul li {

    margin: 0px 0 0 15px;

    color: #fff;

}

.bls-footer-section .widget_pages ul li a {

    color: #fff;

    text-decoration: none;

}

.bls-footer-section .widget_pages ul li {

    list-style: none;

    padding: 5px 0;

    padding-left: 5px;

}

.bls-footer-section .widget_pages ul li:before {

  content: "\f105"; /* FontAwesome Unicode */

  font-family: FontAwesome;

  display: inline-block;

  margin-left: -1.3em; /* same as padding-left set on li */

  width: 1.3em; /* same as padding-left set on li */

}



ul.footer-links li {

  list-style: none;

  padding: 5px 0;

  padding-left: 5px;

}

ul.footer-links li:before {

  content: "\f105"; /* FontAwesome Unicode */

  font-family: FontAwesome;

  display: inline-block;

  margin-left: -1.3em; /* same as padding-left set on li */

  width: 1.3em; /* same as padding-left set on li */

}

ul.footer-links li a{

  text-decoration: none;

}

.bls-footer-top-section {

    background: rgb(116, 146, 208);

    margin-top: 15px;

}

.bls-footer-section h2 {

    color: #fff;

    padding: 5px 0px;

    font-size: 26px;

}

.bls-footer-section p {

    color: #fff;

}

.bls-footer-section p i.fa {

    font-size: 20px;

    margin: 0 10px 0 0px;

}

ul.footer-links {

    margin: 0px;

    padding: 0px;    

}

ul.footer-links li {

    margin: 0px 0 0 15px;

    color: #fff;

}

ul.footer-links li a {

    color: #fff;

    text-decoration: none;

}

.widget {

    margin-bottom: 40px;

}



/*Services*/

p.service-icon {

    background: #7492d0;

    border-radius: 150px;

    height: 150px;

    width: 150px;

    text-align: center;

    display: inline-block;

    box-shadow: inset 0px 0px 20px #3b5998;

}

p.service-icon i.fa:hover {

    transform: rotate(360deg);

}

p.service-icon i.fa {

    font-size: 50px;

    text-align: center;

    padding: 50px 50px 50px 50px;

    color: #fff;

    transition: 0.4s all;

}

.aqa-service-inner {

  margin: 40px 0;

  text-align: center;

}

.aqa-service-inner p {

  line-height: 28px;

  color: #333;

}

.aqa-service-inner h2 {

  border-bottom: 2px solid #91a7e4;

  margin: 30px 43px 10px;

}

/*Home Parallax*/

.aqa-home-parllex h2 {

  color: #fff;

  text-align: center;

}

.aqa-home-parllex p {

  color: #fff;

  text-align: center;

}

.aqa-home-parllex a {

    background: #3b5998;

    padding: 15px 30px;

    color: #fff;

    display: inline-block;

	text-transform: uppercase;

}

.aqa-home-parllex a:hover{

  text-decoration: none;

  background:#1e56d0;

}

.aqa-home-parllex {

  /*background: url(../images/parallax-banner.jpg);*/

  padding: 100px 0px;

  background-position: center;

  background-size: cover;

  background-attachment: fixed;

}

p.parllex-btn {

  margin-top: 30px;

}

.aqa-home-parllex a:hover {

  text-decoration: none;

}

/*Home blog*/

.bls-home-blog-header {

  text-align: center;

}

.bls-home-blog-header {

  text-align: center;

  margin-top: 40px;

}

.bls-home-blog-header p {

  display: inline-block;

  margin-bottom: 60px;

}

.bls-home-blog-inner img {

  width: 100%;

  height: auto;

  border-radius: 0 25px 0 25px;

  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.62);

}

.breadcrumb {

    margin-bottom: 20px;

    list-style: none;

    background-color: #f5f5f5;

    border-radius: 4px;

    margin-top: 6px;

    text-transform: uppercase;

    line-height: 48px;

}

.breadcrumb a {

    display: inline-block;

    top: 0;

    color: #222;

    text-decoration: none;

    letter-spacing: 2px;

    height: 48px;

    line-height: 48px;

    position: relative;

    text-transform: uppercase;

    z-index: 1;

    font-size: 11px;

}

.aqa-breadcrumb {

    font-size: 11px;

    float: right;

}

.aqa-page-breadcrum-title {

    float: left;

}

.bls-blog-img {

  float: left;

  margin-right: 30px;

  margin-bottom: 40px;

}

.bls-blog-content p {

  font-size: 14px;

  line-height: 25px;

  color: #888;

  text-align: justify;

}

a.read-more-btn {

    background: #3b5998;

    padding: 10px 20px;

    color: #fff;

    display: inline-block;

}

a.read-more-btn:hover{

  text-decoration: none;

  background: #1e56d0;

}

.bls-read-btn {

  margin-top: 25px;

  float: right;

}

.bls-view-more-btn a {

    background: #3b5998;

    padding: 13px 70px;

    margin: 50px 0 0;

    color: #fff;

    display: inline-block;

    text-decoration: none;

	text-transform: uppercase;

    

}

.bls-view-more-btn a:hover{

  text-decoration: none;

  background: #1e56d0;

}

.bls-view-more-btn {

    text-align: center;

    display: inline-block;

    width: 100%;

}





/*Home services*/

.aqa-home-services-header {

  text-align: center;

}

.aqa-home-services-header {

  text-align: center;

  margin-top: 40px;

}

.aqa-home-services-header p {

  display: inline-block;

  margin-bottom: 0px;

}

.aqa-service-inner img {

  border-radius: 150px;

  width: 200px;

  height: 200px;

}

/* Blog Single */

.bls-blog-section {

  background: #f3f3f3;

  padding-bottom: 40px;

}

.bls-post-inner img {

    width: auto;

    display: inline-block;

    max-width: 100%;

    margin: 0 auto;

}

.comment-author.vcard img {

    float: left;

    margin-right: 20px;

    border-radius: 40px;

}

.comment-list cite.fn {

    font-weight: 700;

    text-transform: uppercase;

    font-size: 14px;

    padding-right: 5px;

}

.comment-body {

    border: 2px solid #dadada;

    padding: 15px;

    border-radius: 4px;

    margin: 20px 20px 20px -15px;   

}

.reply{

  margin: 10px 0 5px 20px;

}

.comment-form label{

  width: 12%;

  float: left;

}

.comment-form input[type="text"] {

  width: 100%;

  height: 32px;

  padding: 7px;

  border: 2px solid #f1f1f1;

  border-radius: 4px;

}

.form-submit input[type="submit"] {

    color: #fff;

  	text-decoration: none;

  	padding: 8px 20px;

  	margin: 4px 0 12px 0;

  	display: inline-block;

    background: #26629e;

    box-shadow: 0 0 1px #ccc;

    -webkit-transition-duration: 0.5s;

    -webkit-transition-timing-function: linear;

    box-shadow:0px 0 0 #19a268 inset;

    border: none;

    border-radius: 4px;

}

.form-submit input[type="submit"]:hover {

    box-shadow:-140px 0 0 #19a268 inset;

}

form#commentform input#email {

    width: 100%;

    height: 32px;

    padding: 7px;

    border: 2px solid #f1f1f1;

  	border-radius: 4px;

}

form#commentform input#url {

    width: 100%;

    height: 32px;

    padding: 7px;

    border: 2px solid #f1f1f1;

  	border-radius: 4px;

}

p.form-submit {

    margin-top: 25px;

}

.reply a {

  color: #fff;

  padding: 6px 20px;

  border-radius: 4px;

  background: #26629e;

  box-shadow: 0 0 1px #ccc;

  -webkit-transition-duration: 0.5s;

  -webkit-transition-timing-function: linear;

  box-shadow:0px 0 0 #19a268 inset;

}

.reply a:hover {

  box-shadow:-100px 0 0 #19a268 inset;

}

h2.comments-title {

    color: #26629e !important;

    margin: 20px 25px 0 15px !important;

    background: none !important;

}

.comment-meta.commentmetadata a {

  text-decoration: none;

  font-size: 12px;

}

.comment-list ol.children {

  margin-top: 25px;

  margin-left: 45px;

  list-style: none;

}

.comments-area ol.comment-list {

    list-style: none;

}

ol.comment-list p {

    margin-bottom: 0;

}

.bls-single-blog img {

    width: auto;

    max-width: 100%;

    height: auto;

    text-align: center;

    margin-top: -47px;

    border-radius: 4px 4px 0 0;

}

.bls-single-blog h2 {

    color: #fff;

    margin: 0 auto;

    padding: 10px;

    border-radius: 4px 4px 0 0;

    background-color: #26629e;

    background: -moz-linear-gradient(left,#26629e0%, #19a268 100%);

    background: -webkit-linear-gradient(left, #26629e0%, #19a268 100%);

    background: linear-gradient(to left, #26629e 0%, #19a268 100%);

    opacity: 0.75;

    display: inline-block;

}

.bls-single-blog h2 a {color: #fff;}

.bls-single-blog h2 a:hover {opacity: 0.75;}

/*Blog*/

.bls-single-blog {

  background: #fff;

  padding: 0px 0px 15px 0px;

  margin: 50px 0 0;

  border-radius: 4px;

  -webkit-box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);

  -moz-box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);

  box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);

}

.bls-single-blog .blog-auther{

	padding: 10px 0 0 45px;

}

p.blog-single-btn a {

  	color: #fff;

  	text-decoration: none;

  	padding: 8px 20px;

  	margin: 4px 0 12px 0;

  	display: inline-block;

    background: #19a268;

    box-shadow: 0 0 1px #ccc;

    -webkit-transition-duration: 0.5s;

    -webkit-transition-timing-function: linear;

    box-shadow:0px 0 0 #26629e inset;

    border-radius: 4px;

}

p.blog-single-btn a:hover {

    box-shadow:120px 0 0 #26629e inset;

}

p.post-discription {

    margin: 20px 0;

}

p.blog-single-btn {

    text-align: right;

    padding-top: 1px !important;

}

.aqua-pagination {

    display: inline-block;

    padding: 10px;

}

ul.blog-page-nation li {

    float: none;

    display: inline-block;

}

ul.blog-page-nation {

  padding: 0;

  margin: 40px 0px 0 0;

}

ul.blog-page-nation li a {

  color: #333;

  text-decoration: none;

  padding: 7px 20px;

}

ul.blog-page-nation li a:hover {

  background: #ccc;

  text-decoration: none;

}

.blog-page-nation-active{

  background: #ccc;

}

.blog-maonary .sample-maso:nth-child(even) img {

  height: 220px;

}

.blog-maonary .sample-maso:nth-child(even) .single-masonary-post {

    float: right;

}

.blog-maonary .sample-maso:nth-child(even) .bls-single-blog {

    min-height: 450px;

}

.bls-single-blog .blog-masonary-auther{

	padding: 15px 20px 5px 20px;

}

.bls-single-blog .blog-masonary-img-auther{

	padding: 60px 20px 5px 20px;

}

.bls-single-blog .blog-masonary-auther span.bls-blog-cat a {

    padding-left: 5px;

}

.bls-single-blog .blog-masonary-img-auther span.bls-blog-cat a {

    padding-left: 5px;

}

.blog-masonary-auther i {

    color: #19a268;

}

.blog-masonary-auther i a:hover{

    color: #19a268;

}

.bls-single-blog .masonary-post-discription {

    padding: 0px;

}

.bls-masonary-single-btn a {

  	color: #fff;

  	text-decoration: none;

  	padding: 8px 20px;

  	display: inline-block;

    background: #19a268;

    box-shadow: 0 0 1px #ccc;

    -webkit-transition-duration: 0.5s;

    -webkit-transition-timing-function: linear;

    box-shadow:0px 0 0 #26629e inset;

    border-radius: 4px;

    margin: 0 0 15px 20px;

}

.bls-masonary-single-btn a:hover {

    box-shadow:120px 0 0 #26629e inset;

}

.entry-thumbnail img {

	width: 100%;

	height: auto;

	margin-top: -47px;

	border-radius: 4px 4px 0 0;

}

.entry-thumbnail figure a {

    position: absolute;

    color: #fff;

    font-size: 25px;

    padding: 10px 25px;

    background-color: #26629e;

    background: -moz-linear-gradient(left,#26629e0%, #19a268 100%);

    background: -webkit-linear-gradient(left, #26629e0%, #19a268 100%);

    background: linear-gradient(to left, #26629e 0%, #19a268 100%);

    opacity: 0.50;

}

.entry-thumbnail figure a:hover{opacity: 0.75;}

/*blog side bar*/

.bls-blog-side-bar {

    margin-top: 35px;

    padding: 15px;

}
.bls-blog-side-bar h2 a.rsswidget {
    color: #fff;
}

.bls-blog-side-bar .widget {

    margin-bottom: 40px;

    background: #fff;

    padding: 20px;

    border-radius: 6px;

    -webkit-box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);

    -moz-box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);

    box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);

}

.bls-blog-section .widget_search input[type=text] {

    width: 85%;

    box-sizing: border-box;

    border: 1px solid #ccc;

    border-radius: 4px;

    font-size: 14px;

    background-color: white;

    background-image: url(../images/searchicon.png);

    background-position: 10px 10px;

    background-repeat: no-repeat;

    padding: 10px 20px 7px 40px;

    -webkit-transition: width 0.4s ease-in-out;

    transition: width 0.4s ease-in-out;

}



.bls-blog-section .widget_search input[type=text]:focus {

    width: 100%;

    outline: none;

    border: 1px solid #ccc;

}

.bls-blog-section .widget_search input[type="submit"] {

    display: none;

}



ul.blog-page-tags {

    padding: 0px;

    margin: 0px;

    display: inline-block;

}

ul.blog-page-tags li {

    list-style: none;

    float: none;

    padding: 5px 15px;

    border: 1px solid #333;

    margin: 5px 5px;

    border-radius: 50px;

    display: inline-block;

    text-align: center;

}

ul.blog-page-tags li a {

    color: #333;

    text-decoration: none;

}

.bls-blog-side-bar .widget_categories ul {

    padding: 0px;

    margin: 0px;

}

.bls-blog-side-bar .widget_categories ul li {

    padding: 5px 0px;

    margin: 5px 0;

    border-bottom: 1px solid #dadada;

    list-style: none;

}

.bls-blog-side-bar .widget_categories ul li a {

    color: #333;

    display: block; 

    text-decoration: none;

}

.bls-blog-side-bar .widget_categories ul li a:hover {

    color: #1c9574;

}

.bls-blog-side-bar .widget_recent_entries ul {

    padding: 0px;

    margin: 0px;

}

.bls-blog-side-bar .widget_recent_entries ul li {

    padding: 5px 0px;

    margin: 5px 0;

    border-bottom: 1px solid #dadada;

    list-style: none;

}

.bls-blog-side-bar .widget_recent_entries ul li a {

    color: #333;

    display: block; 

    text-decoration: none;

}

.bls-blog-side-bar .widget_archive ul {

    padding: 0px;

    margin: 0px;

}

.bls-blog-side-bar .widget_archive ul li {

    padding: 5px 0px;

    margin: 5px 0;

    border-bottom: 1px solid #dadada;

    list-style: none; 

}

.bls-blog-side-bar .widget_archive ul li a {

    color: #333;

    display: block; 

    text-decoration: none;

}

.bls-blog-side-bar .widget_archive ul li a:hover {

    color: #1c9574;

}

.bls-blog-side-bar .widget_meta ul {

    padding: 0px;

    margin: 0px;

}

.bls-blog-side-bar .widget_meta ul li {

    padding: 5px 0px;

    margin: 5px 0;

    border-bottom: 1px solid #dadada;

    list-style: none;

}

.bls-blog-side-bar .widget_meta ul li a {

    color: #333;

    display: block; 

    text-decoration: none;

}

.bls-blog-side-bar .widget_meta ul li a:hover {

 color: #1c9574;

}

.bls-blog-side-bar .widget_recent_comments ul {

    padding: 0px;

    margin: 0px;

}

.bls-blog-side-bar .widget_recent_comments ul li {

    padding: 5px 0px;

    margin: 5px 0;

    border-bottom: 1px solid #dadada;

    list-style: none;

}

.bls-blog-side-bar .widget_recent_comments ul li a {

    color: #333;

    display: block; 

    text-decoration: none;

}

.bls-blog-side-bar .widget_nav_menu ul {

    padding: 0px;

    margin: 0px;

}

.bls-blog-side-bar .widget_nav_menu ul li {

    padding: 5px 0px;

    margin: 5px 0;

    border-bottom: 1px solid #dadada;

    list-style: none;

}

.bls-blog-side-bar .widget_nav_menu ul li a {

    color: #333;

    display: block; 

    text-decoration: none;

}

table#wp-calendar {

    width: 100%;

}

table#wp-calendar td {

    padding: 10px;

}

ul.blog-page-social-icons {

    padding: 0;

    margin: 0;

}

ul.blog-page-social-icons li {

    list-style: none;

    float: none;

    display: inline-block;

    margin: 0 4px;

    border: 1px solid #333;

    padding: 7px 0px;

    border-radius: 50px;

    width: 35px;

    height: 35px;

    text-align: center;

}

ul.blog-page-social-icons li a{

    color: #333;

    text-decoration: none;

}

.no-padding-left{

  padding-left: 0px !important;

}

p.side-post-name {

    border-bottom: 1px solid #f3f3f3;

    padding-bottom: 5px;

    margin-bottom: 5px;

}

.post-space {

    margin-top: 10px;

}

.bls-blog-side-bar h2 {

    font-size: 20px;

    text-transform: uppercase;

    margin: 0 0 22px;

    padding: 8px 0 7px 5px;

    color: #fff;

    border-radius: 4px;

    background-color: #26629e;

	background: -moz-linear-gradient(left,#26629e0%, #19a268 100%);

	background: -webkit-linear-gradient(left, #26629e0%, #19a268 100%);

	background: linear-gradient(to left, #26629e 0%, #19a268 100%);

}

.bls-blog-side-bar .widget_recent_entries ul li a:hover {

    color: #1c9574;

}

.blog-page-row-gap{

  margin-bottom: 40px;

}
#monster-widget-placeholder-6 ul {
padding-left:0px;
}
#monster-widget-placeholder-6 ul li {
    padding: 5px 0px;
    margin: 5px 0;
    border-bottom: 1px solid #dadada;
    list-style: none;
}
#monster-widget-placeholder-6 ul li a {
      color: #333;
}
.textwidget img {
    width: 100%;
}
/*Search*/

.expSearchBox {

    float: right;

    padding: 22px 0;

    z-index: 999999 !important;

    position: relative;

}

input#field{

  font-size: 14px;

  width: 85%;

  border-radius: 4px;

  border:solid 1px #ccc;

  box-sizing: border-box;  

  background-color: white;

  background-image: url(../images/searchicon.png);

  background-position: 10px 10px;

  background-repeat: no-repeat;

  padding: 10px 20px 7px 40px;

  -webkit-transition: width 0.4s ease-in-out;

  transition: width 0.4s ease-in-out;

}

input#field:focus{

  width:100%;

  outline:none;

}

/* Content None */

section.no-results.not-found {

  text-align: center;

  margin-top: 180px;

}



/*Home Blog*/

.blog-user-cmd a {

  text-decoration: none;

}



p.share-txt {

    display: inline-block;

}

.no-padding-adjust {

    padding-right: 2px;

}

img.blog-img-sec {

    margin: 5px 0 !important;

}

.no-padding-adjust-sub {

    padding-left: 3px !important;

}

.no-padding-adjust-sub img {

    min-height: 496px;

}

ul.blog-detail-page-nation {

    padding: 0px 40px 0 20px;

    margin: 0px;

    display: inline-block;

    width: 100%;

}

ul.blog-detail-page-nation li {

	color: #26629e;

	font-size: 24px;

    list-style: none;

    float: none;

    display: inline-block;

    padding: 10px 10px 5px 0px;

}

ul.blog-detail-page-nation li:hover {color: #19a268;}

ul.blog-detail-page-nation li:last-child {

    list-style: none;

    float: right;

    display: inline-block;

}

ul.blog-detail-page-nation li p {

    display: inline-block;

    font-size: 18px;

    color: #333;

}

ul.blog-detail-page-nation li a {

    font-size: 18px;

    color: #26629e;

    text-decoration: none;

}

ul.blog-detail-page-nation li a:hover { color: #19a268; }

img.blog-img-auther {

    border-radius: 100px;

    height: 150px;

    width: 150px;

}

.blog-img-auther.img-responsive img {

   margin-top: 10px;

   width: 80%;

   height: auto;

   border-radius: 60px;

}

h3.bls-writter-title {

   color: #26629e;

   padding: 15px 40px 15px 20px;

}

.bls-p-auth-title h3 {

   text-transform: capitalize;

   color: #26629e;

   padding-left: 18px;

}

.blog-writen {

    display: inline-block;

    padding: 15px;

    margin: 0px 20px;

    border-radius: 4px;

    background: #f6f6f6;

}

p.blog-cat {

    margin: 15px 0;

}

.blog-cat i {color: #19a268;}

.blog-cat a:hover {color: #19a268;}

.bls-post-inner {

    padding: 10px;

    background: #f6f6f6;

    border-radius: 4px;

    margin-left: 20px;

}

.bls-post-inner h2 {

    margin: 0 auto !important; 

    padding: 10px 0px !important; 

    background: none !important;

}

.bls-post-inner h2 a {

    color: #26629e !important;

}

.bls-post-inner p {

    margin: 0 auto !important;

    padding: 0 !important;

}

.bls-single-blog figure {

    text-align: center;

}

.entry-content p {

    margin: 15px 0 15px 0px;

}

.bls-single-blog-detail h2 {

    color: #fff;

    margin: 0 auto;

    padding: 10px;

    border-radius: 4px 4px 0 0;

    background-color: #26629e;

    background: -moz-linear-gradient(left,#26629e0%, #19a268 100%);

    background: -webkit-linear-gradient(left, #26629e0%, #19a268 100%);

    background: linear-gradient(to left, #26629e 0%, #19a268 100%);

    opacity: 0.75;

    display: inline-block;

}

.bls-single-blog-detail h2 a {color: #fff;}

.bls-single-blog-detail h2 a:hover {opacity: 0.75;}

.bls-single-blog-detail {

    background: #fff;

    padding: 0px;

    margin: 50px 0 0;

    border-radius: 4px;

    -webkit-box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);

    -moz-box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);

    box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);

}

.bls-blog-line p {border-bottom: 1px solid #e5e5e5; margin: 0px 40px 10px 20px;}

span.bls-blog-cat {

    padding-left: 25px;

}

span.bls-blog-cat a {margin-bottom: 10px;}

.bls-blog-cat a:hover { color: #19a268; }

.bls-blog-cmnt a:hover { color: #19a268; }

/*reply form*/

h3#reply-title {    

    color: #26629e;

    padding: 10px 10px 15px 10px;

    margin: 10px 15px;

}

.comment-respond p {

	margin: 10px 0;

}

p.comment-form-email {

	clear: both;

}

p.comment-form-url {

	clear: both;

}

.form-style-1 {

    margin:10px auto;

    padding: 20px 12px 10px 0px;

    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

.form-style-1 li {

    padding: 0;

    display: block;

    list-style: none;

    margin: 10px 0 0 0;

}

.form-style-1 label{

    margin:0 0 3px 0;

    padding:0px;

    display:block;

    font-weight: bold;

}

.form-style-1 input[type=text], 

.form-style-1 input[type=date],

.form-style-1 input[type=datetime],

.form-style-1 input[type=number],

.form-style-1 input[type=search],

.form-style-1 input[type=time],

.form-style-1 input[type=url],

.form-style-1 input[type=email],

textarea, 

select{

    box-sizing: border-box;

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    border-radius: 4px;

    border: 2px solid #f1f1f1;

    padding: 7px;

    margin:0px;

    -webkit-transition: all 0.30s ease-in-out;

    -moz-transition: all 0.30s ease-in-out;

    -ms-transition: all 0.30s ease-in-out;

    -o-transition: all 0.30s ease-in-out;

    outline: none;  

    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    max-width: 100%;

}

.form-style-1 input[type=text]:focus, 

.form-style-1 input[type=date]:focus,

.form-style-1 input[type=datetime]:focus,

.form-style-1 input[type=number]:focus,

.form-style-1 input[type=search]:focus,

.form-style-1 input[type=time]:focus,

.form-style-1 input[type=url]:focus,

.form-style-1 input[type=email]:focus,

.form-style-1 textarea:focus, 

.form-style-1 select:focus{

    -moz-box-shadow: 0 0 8px #3b5998;

    -webkit-box-shadow: 0 0 8px #3b5998;

    box-shadow: 0 0 8px #3b5998;

    border: 1px solid #3b5998;

}

.form-style-1 .field-divided{

    width: 49%;

}



.form-style-1 .field-long{

    width: 100%;

}

.form-style-1 .field-select{

    width: 100%;

}

.form-style-1 .field-textarea{

    height: 100px;

}

.form-style-1 input[type=submit], .form-style-1 input[type=button]{

    background: #3b5998;

    padding: 8px 15px 8px 15px;

    border: none;

    color: #fff;

}

.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover {

    background: #1e56d0;

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;

}

.form-style-1 .required{

    color:red;

}

.comment-respond {margin: 10px 0px; padding-bottom: 15px;}

.comment-form {background: #f6f6f6; border-radius: 4px; margin: 0 20px; padding-top: 5px;}

/*Chat*/

ul.form-chat-reply {

    padding: 0;

    margin: 40px 0 0;

    display: inline-block;

    width: 100%;

}

ul.form-chat-reply li {

    list-style: none;

    margin: 0 0 20px;

    width: 100%;

    display: inline-block;

}

li.reply-inner {

    margin: 0 0 20px 100px !important;

    width: 100%;

    display: inline-block;

}

ul.form-chat-reply li img {

    float: left;

    width: 100px;

    height: 100px;

    display: inline-block;

    border-radius: 100px;

    margin-right: 20px;

}

.chat-txt {

    display: inline-block;

    float: right;

    border: 1px solid #3b5998;

    width: 83%;

    padding: 10px;

}

li.reply-inner .chat-txt {

    width: 70.7%;

    float: left;

}

p.chat-reply-btn {

    margin: 0px;

    display: inline-block;

}

p.chat-reply-btn a {

    background: #3b5998;

    padding: 8px 15px 8px 15px;

    border: none;

    color: #fff;

    display: inline-block;

    text-decoration: none;

}

.entry-content ul {

    margin: 0 0 10px 15px;

}

.entry-content ul li ul{

    margin: 0 0 0px 15px;

}

.bls-blog-meta p {

	padding: 5px 20px;

}

.bls-blog-meta span {

padding: 0px 20px 0px 20px;

float: left;

margin: 14px 0 0 0;

}

.bls-blog-meta span i {

padding-right: 5px;

color: #19a268;

}

.bls-blog-user a:hover {color: #19a268;}

.bls-blog-comments span {

padding: 5px 10px 0px 15px;

margin: 8px 0 0 7px;

font-style: italic;

}

.bls-blog-comments span i {

padding-right: 5px;

color: #19a268;

}

.bls-blog-section p {

font-size: 14px;

text-align: left;

padding: 5px 20px;

color: #676767;

}

h3.you-may-like{

  color: #26629e;

  font-size: 18px;

  margin: 15px 20px;

}

/*Footer widget*/

.bls-footer-section .widget.widget_search label {

  display: none;

}

.bls-footer-section .widget_search input#s {

  position: relative;

  width: 85%;

  height: 36px;

  color: #000;

  border: none;

  border-radius: 4px;

  outline: none;

  padding: 0 0px 0 10px;

  -webkit-transition: width 0.4s ease-in-out;

  transition: width 0.4s ease-in-out;

}

.bls-footer-section .widget_search input#s:focus {

	width: 100%;

	outline: none;

}

.bls-footer-section .widget_search input#searchsubmit {

  margin-top: 15px;

  background: #26629e;

  color: #fff;

  border: none;

  outline: none;

  border-radius: 4px;

  padding: 6px 20px; 

}

.bls-footer-section .widget_search input#searchsubmit:hover {

  background: #2a72af;

}

.aqa-search-page{

  margin-top:50px;

}



.aqa-search-page article {

    border-bottom: 1px solid #dedddd;

    padding: 0px 0 34px;

}



h2.entry-title a:hover {

    text-decoration: none;

}



.aqa-search-page .error-template.text-center {

    margin-top: 25%;

}



.error-template form {

    padding: 20px 0;

}



.aqa-search-page {



    background: #f1f1f1;



    padding: 15px;



    border: 1px solid #ccc;



    box-shadow: inset 0px 0px 10px #b7b7b7;



    margin: 30px 0 0;



}



.aqa-search-page header.aqa-page-header {



    margin-bottom: 40px;



}



.aqa-search-page .error-template.text-center {



    margin-top: 20px;



}



.aqa-search-page .searchform input#s {



position: relative;



    width: 50%;



    height: 36px;



    border: none;



    border-radius: 50px;



    outline: none;



    padding: 0 0px 0 10px;



}



.aqa-search-page .searchform input#searchsubmit {



    position: absolute;



    top: 118px;



    right: 180px;



    background: #3b5998;



    color: #fff;



    border: none;



    outline: none;



    border-radius: 50px;



    padding: 6px 20px;



}



.aqa-service-inner img:hover {



    box-shadow: 0px 0px 30px 1px #3b5998;



    transition: 0.4s all;



}



.aqa-service-inner img:hover {



    transition: 0.4s all;



}

/* Home Blog section */

span.bls-blog-date i {

  margin-right: 8px;

  font-size: 17px;

}

span.bls-blog-date{

  font-size: 14px;

}

span.bls-blog-date.masonry{

  padding-left: 25px;

}


/*search page*/

.page-content {

    position: relative;

}

.page-content input#s {

    position: relative;

    width: 100%;

    height: 56px;

    border: none;

    border-radius: 50px;

    outline: none;

    padding: 0 0px 0 30px;

    background: #3b5998;

    color: #fff;

}

.page-content input#searchsubmit {

    position: absolute;

    right: 4px;

    background: #ffffff;

    color: #3b5998;

    border: none;

    outline: none;

    border-radius: 50px;

    padding: 14.2px 40px;

    bottom: 4px;

    text-transform: uppercase;

    font-weight: bold;

}

.page-content label.screen-reader-text {

    display: none;

}

.bls-pagination span.current {

    background-color: #337ab7;

    color: #fff;

}

.bls-pagination a {

    background-color: #ebebeb;

    color: #337ab7;

}

.cd-testimonials p {

    font-family: "Georgia", serif;

    font-style: italic;

    line-height: 1.4;

    margin-bottom: 1em;

    padding: 0 14px;

    color: #333;

}

.flex-direction-nav li a::before, .flex-direction-nav li a::after {

    content: '';

    position: absolute;

    left: 50%;

    top: 50%;

    width: 2px;

    height: 13px;

    background-color: #333;

}

/* portfolio */

#huge_it_portfolio_content_1 #huge_it_portfolio_options_1 {

	margin: 0 auto !important;

	padding-top: 25px;

    padding-bottom: 30px;

}

.port_spacing #huge_it_portfolio_content_1 #huge_it_portfolio_options_1 ul li a {

	background: #fff !important;

    border-radius: 5px;

    padding: 8px 25px !important;

    box-shadow: inset 0px 0px 8px #000 !important; 

}

.port_spacing #huge_it_portfolio_content_1 #huge_it_portfolio_options_1 ul li a:hover {

    background-color: #3b5998 !important;

    color: #ffffff !important;

    cursor: pointer;

}

.port_spacing #huge_it_portfolio_content_1 #huge_it_portfolio_options_1 ul li {

	border: none;

}

.port_spacing .portelement_1 .title-block_1 a, .portelement_1 .title-block_1 a:link, .portelement_1 .title-block_1 a:visited, .portelement_1 .title-block_1 {

    padding: 4px 1% 0 2% !important;

	font-size: 15px !important;

	color: #fff !important;

}

/* Logo & Menu Bar */

.grpe-logo-bar img {

  padding: 25px 0px;

}

.dropdown-menu {

  margin: 0px 0 0 !important;

  background: #26629e;

}

.nav > li > a:hover, .nav > li > a:focus {

  text-decoration: none;

  background-color: transparent;

}

ul.dropdown-menu {border: none;}

ul.dropdown-menu:before {

  content: '';

  height: 2px;

  width: 0;

  position: absolute;

  z-index: 1;

  top: 0;left: 0;right: 0;

  margin: 0 auto;

  background-color: rgb(51, 122, 183);



  -webkit-transition: 0.3s all;

  -o-transition: 0.3s all;

  transition: 0.3s all;



  transition-delay: width 2s;

}

.mean-container ul.dropdown-menu:before {

  display: none;

}

.open ul.dropdown-menu:before {

  width: 100%;

}

ul.dropdown-menu li {

  width: 100%;

  border-bottom: 1px solid rgba(238, 238, 238, 0.04);

}

.mean-nav ul.dropdown-menu li {

  border-bottom: none;

}

ul.dropdown-menu li:last-child {

  border-bottom: none;

}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{

	background-color: transparent;

}

.dropdown-menu > li > a {

  padding: 12px 16px !important;

}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {

  background-color: #19a268 !important;

  text-decoration: none;

  color: #fff !important;

}

.mean-nav .dropdown-menu > li > a:hover, .mean-nav .dropdown-menu > li > a:focus {

background: transparent !important;

}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {

  background-color: transparent;

}

.dropdown-submenu > a:after {

  border-color: transparent transparent transparent #777777;

  border-style: solid;

  border-width: 5px 0 5px 5px;

  content: " ";

  display: block;

  float: right;

  height: 0;

  margin-right: -10px;

  margin-top: 5px;

  width: 0;

}

.dropdown-submenu > a:hover:after {

  border-color: transparent transparent transparent #f0c84c;

}

ul.dropdown-submenu-position {

  position: absolute;

  left: 220px;

  top: 0px;

}



.mean-nav ul#menu-header-menu li a:hover,

.mean-nav ul#menu-header-menu li a:active,

.mean-nav ul#menu-header-menu li a:focus {

	background-color: transparent;

	color: #fff;

}

ul#menu-header-menu li a:hover,

ul#menu-header-menu li a:active,

ul#menu-header-menu li a:focus {

  background-color: #19a268;

  color: #fff;

  border-radius: 4px;

}

.grpe-logo-menu-bar {

  background: #fff;

}

.main-menu.nav.nav-bar,

.main-menu.nav.nav-bar li,

.menu-bar-icons,

.menu-bar-button {

  float: left;

}

.grpe-menu-bar {

  float: right;

}

.menu-bar-icons a {

  padding: 0 0 0 15px;

  color: #222222;

}

.menu-bar-icons {

  margin: 9px 30px 11px 0px;

  padding: 25px 0px;

}

.menu-bar-button {

  margin: 9px 0px;

  color: #222222;

  padding: 25px 0px;

}

.menu-bar-button a {

  color: #222222;

  background: #f0c84c;

  padding: 16px 42px;

  border-radius: 5px;

  text-transform: uppercase;

  font-size: 13px;

  text-decoration: none;

}

.menu-bar-button a:hover {

  background: #ebad17;

  -webkit-transition: 0.5s all;

  -o-transition: 0.5s all;

  transition: 0.5s all;

}

ul.main-menu.nav.nav-bar li a {

  color: #262626;

  text-transform: uppercase;

  font-size: 13px;

  padding: 10px 14px;

}

.navbar ul li ul li ul {

  left: 160px;

  position: absolute;

  top: 20px;

}

/*Mean Menu*/

.mean-container a.meanmenu-reveal {

  font-size: 16px;

  text-indent: 0;

}

.mean-container a:focus {

border-color: #383838 !important;

outline: none !important;

}

.mean-container .mean-nav ul li a.mean-expand {

  background: rgba(255, 255, 255, 0.15);

  padding: 15px 12px 9px 12px !important;

}

.mean-container .mean-nav ul li a.mean-expand:hover {

  background: rgba(0, 0, 0, 0.4);

}

.mean-container .dropdown-menu {

    position: relative;

    background-color: #0c1923;

}

.mean-container a.meanmenu-reveal {

  width: 22px;

  height: 22px;

  padding: 13px 13px 11px 13px;

  position: absolute;

  top: 18px;

  right: 0;

  cursor: pointer;

  color: #333;

  text-decoration: none;

  font-size: 16px;

  text-indent: -9999em;

  line-height: 22px;

  font-size: 1px;

  display: block;

  font-family: Arial, Helvetica, sans-serif;

  font-weight: 700;

  border: 1px solid #333;

}

.mean-container .mean-nav ul li a {

  padding: 20px 0px 20px 20px !important;

  display: block;

  width: 100%;

}

.mean-container .mean-nav ul li li a {

  width: 84%;

  padding: 1.5em 15px 1.5em 15px !important;

  margin: 0 0px 0 40px;

  text-shadow: none !important;

  visibility: visible;

}

.mean-nav ul.main-menu.nav.nav-bar li {

  border-bottom: 1px solid;

}

.mean-container .mean-nav {

  float: left;

  width: 100%;

  background: #111;

  margin-top: 64px;

  overflow: hidden;

}



/* Normal State */

.mean-container a.meanmenu-reveal span {

  display: block;

  background: #333;

  height: 2px;

  margin-top: 3px;

  transform: rotate(0deg);



  -webkit-transition: all 3s;

  -o-transition: all 3s;

  transition: all 3s;

}

.mean-container a.meanmenu-reveal.meanclose span {

  margin-top: 8px;

  transform: rotate(-45deg);

}

.mean-container a.meanmenu-reveal span:before {

  content: "";

  display: block;

  background: #333;

  height: 2px;

  margin-top: 3px;

  position: relative;

  top: 10px;

  transform: rotate(0deg);



  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;

}

.mean-container a.meanmenu-reveal span:after {

  content: "";

  display: block;

  background: #333;

  height: 2px;

  margin-top: 3px;

}

/* 404 page */

.site-404-content h1 {

    font-size: 15em;

}.site-404-content {

    text-align: center;

}

p.bls-pag-search {

    text-align: center;

}

.site-404-content .page-content input#searchsubmit{

  top: 70px;

}

/*Mean Menu*/

.mean-container a.meanmenu-reveal {

  font-size: 16px;

  text-indent: 0;

}

.mean-container a:focus {

border-color: #383838 !important;

outline: none !important;

}

.mean-container .mean-nav ul li a.mean-expand {

  background: rgba(255, 255, 255, 0.15);

  padding: 15px 12px 9px 12px !important;

}

.mean-container .mean-nav ul li a.mean-expand:hover {

  background: rgba(0, 0, 0, 0.4);

}



.mean-container .mean-bar {

  float: left;

  width: 96%;

  position: absolute;

  background: transparent;

  padding: 4px 0;

  min-height: 42px;

  z-index: 999999;

  top: 0px;

}

.mean-container a.meanmenu-reveal {

  width: 22px;

  height: 22px;

  padding: 13px 13px 11px 13px;

  position: absolute;

  top: 18px;

  right: 0;

  cursor: pointer;

  color: #333;

  text-decoration: none;

  font-size: 16px;

  text-indent: -9999em;

  line-height: 22px;

  font-size: 1px;

  display: block;

  font-family: Arial, Helvetica, sans-serif;

  font-weight: 700;

  border: 1px solid #333;

}

.mean-container .mean-nav ul li a {

  padding: 20px 0px 20px 20px !important;

  display: block;

  width: 100%;

  color: #fff !important;

}

nav.mean-nav span.caret {

  display: none;

}

.mean-container .mean-nav ul li li a {

  width: 84%;

  padding: 1.5em 15px 1.5em 15px !important;

  margin: 0 0px 0 40px;

  text-shadow: none !important;

  visibility: visible;

}

.mean-nav ul.main-menu.nav.nav-bar li {

  border-bottom: none;

  background-color: #0c1923;

}

.mean-container .mean-nav {

  float: left;

  width: 100%;

  background: #111;

  margin-top: 64px;

  overflow: hidden;

  position: absolute;

}



/* Normal State */

.mean-container a.meanmenu-reveal span {

  display: block;

  background: #333;

  height: 2px;

  margin-top: 3px;

  transform: rotate(0deg);



  -webkit-transition: all 3s;

  -o-transition: all 3s;

  transition: all 3s;

}

.mean-container a.meanmenu-reveal.meanclose span {

  margin-top: 8px;

  transform: rotate(-45deg);

}

.mean-container a.meanmenu-reveal span:before {

  content: "";

  display: block;

  background: #fff;

  height: 3px;

  margin-top: 3px;

  position: relative;

  top: 10px;

  transform: rotate(0deg);



  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;

}

.mean-container a.meanmenu-reveal span:after {

  content: "";

  display: block;

  background: #fff;

  height: 3px;

  margin-top: 2px;

}



/* Close */

.mean-container a.meanmenu-reveal.meanclose span:before {

  content: "";

  display: block;

  background: #fff;

  height: 2px;

  margin-top: 3px;

  position: relative;

  top: 0px;

  transform: rotate(-90deg);



  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;

}

.mean-container a.meanmenu-reveal.meanclose span:after {

  content: none;



  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;

}



/* Portfolio */

.wonderplugin-gridgallery-tags.wonderplugin-gridgallery-tags-topleft.wpp-category-greybutton {

    text-align: center !important;

}

#wonderplugingridgallery-1 .wpp-category-greybutton .wonderplugin-gridgallery-tag-selected, #wonderplugingridgallery-1 .wpp-category-greybutton .wonderplugin-gridgallery-tag-selected:hover, #wonderplugingridgallery-1 .wpp-category-greybutton .wonderplugin-gridgallery-tag-selected:focus { 

	background-color: #3b5998 !important;

	color: #ffffff !important;

	cursor: pointer;

}

#wonderplugingridgallery-1 .wpp-category-greybutton .wonderplugin-gridgallery-tag {

	background: #fff !important;

	border-radius: 5px;

	padding: 8px 25px !important;

	box-shadow: inset 0px 0px 8px #000 !important;

	color: #000 !important;

	font-family: 'Roboto', sans-serif !important;

    font-size: 15px !important;

	margin-top: 25px !important;

    margin-bottom: 25px !important;

}

#wonderplugingridgallery-1 .wpp-category-greybutton .wonderplugin-gridgallery-tag:hover, #wonderplugingridgallery-1 .wpp-category-greybutton .wonderplugin-gridgallery-tag-selected {

	background-color: #3b5998 !important;

	color: #ffffff !important;

}

.wonderplugin-gridgallery-item.wonderplugin-gridgallery-item-visible a div {

    display: none !important;

}

div#html5-watermark {

    display: none !important;

}

@media only screen and (max-width: 768px) {

 .aqa-logo .aqa-logo-txt {text-align: left;width: 50%;display: inline-block;}

 .expSearchBox {float: right;text-align: right;}

 .aqa-service-inner h2{border: none;}

 .bls-footer-section {

    text-align: center;

  }

  .bls-footer-section .widget_search input#s {width: 50%;}

  

/*Blog sidebar*/

.bls-blog-side-bar {text-align: center;}

.calendar_wrap table {display: inline-block;}

.calendar_wrap table thead tr th {text-align: center;}

table#wp-calendar {width: auto;}

.bls-blog-section .widget_search input[type="text"]{width: 50%;}

.bls-blog-section .widget_search input[type="text"]:focus{width: 55%;}

.blog-right-sidebar {text-align: center;float: none;margin: 0 auto;}

}

.bls-footer-section .widget p,

.bls-footer-section .widget h1,

.bls-footer-section .widget h2,

.bls-footer-section .widget h3,

.bls-footer-section .widget h4,

.bls-footer-section .widget h5,

.bls-footer-section .widget h6,

.bls-footer-section .widget span,

.bls-footer-section .widget a,

.bls-footer-section .widget table,

.bls-footer-section .widget table th,

.bls-footer-section .widget table tr,

.bls-footer-section .widget table td,

.bls-footer-section .widget li,

.bls-footer-section .widget strong {

  color: #fff !important;

}

.entry-content ol {

  margin: 0 0 10px 25px; 

}

.entry-content ul {

  margin: 0 0 10px 25px;

}

img {

  height: auto;

}