* { box-sizing: border-box; }
header, nav, main, footer { display: block; }
body { background-color: #3F2860;
      color: #3F2860;
	  font-family: Verdana, Arial, sans-serif;
}
#wrapper { width: 80%;
           margin-left: auto;
		   margin-right: auto;
		   background-color: #F5F5F5;
		   min-width: 1200px;
		   max-width: 1480px;}
header { background-color: #9BC1C2;
       background-image: url(lilyheader.jpg);
	   background-position: right;
	   background-repeat: no-repeat;
	   height: 150px;
}




